.DS_Store

openrs/cache/*
!openrs/cache/index.html
!openrs/cache/.htaccess

openrs/logs/*
!openrs/logs/index.html
!openrs/logs/.htaccess

uploads/*
!uploads/demandas/index.html
!uploads/clientes/index.html
!uploads/inmuebles/index.html
!uploads/general/index.html
!uploads/index.html

backups/*
!backups/index.html

downloads/*
!downloads/index.html

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
!/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
